[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
tinymongo = "*"
pytest = "*"
ipython = "*"
ipdb = "*"
requests = "*"

[dev-packages]
click = "*"

[requires]
python_version = "3.9"
